<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abdiel.firebasenotasfinal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Actividades.Aboutapp"></activity>
        <activity
            android:name=".Actividades.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Auth.Register" />
        <activity android:name=".Auth.Login" />
        <activity
            android:name=".Notas.EditNote"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Notas.AddNotes"
            android:label="@string/title_activity_add_notes"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abdiel.firebasenotasfinal.MainActivity" />
        </activity>
        <activity
            android:name=".Notas.Content_note_details"
            android:label="@string/title_activity_content_note_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>